body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &.modal-is-open {
    overflow: hidden;
  }
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-color: $black;
  @media (max-width: 1440px) {
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 15px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }

  &.modal-is-open {
    overflow: hidden;
  }
}

p, h1, h2, h3, h4, h5, h6, a {
  color:$text;
}

input,
button,
select{
  font-family: inherit;
  outline:none;
  border:none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

p{
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

input{
  &.error{
    box-shadow:0px 0px 2px 2px rgba(171, 14, 14, 0.68);
  }
}

.white-btn{
  color:$black;
  background-color: #FFf;
  border-radius:5px;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.primary-btn{
  color:$black;
  background-color: $primary;
  border-radius:5px;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}