.modal{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s all ease;
  &.show{
    visibility: visible;
    opacity: 1;
  }
  .block{
    background-color: rgba(0, 0, 0, 1);
    padding: 5rem;
    position: relative;
    min-width: 66%;
    max-width: 1330px;
    @media (max-width: 960px){
      max-width: calc(100% - 10rem);
      margin: auto auto;
      padding: 5rem 3rem 3rem;
    }
    @media (max-width: 500px){
      min-width: unset;
      padding: 5rem 2rem 2rem;
    }
    @media (max-width: 500px){
      max-width: calc(100% - 5rem);
    }
    .close-modal{
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      overflow: hidden;
      @media (max-width: 960px){
        width: 2rem;
        height: 2rem;
        left: 50%;
        right: unset;
      }
      svg{
        width: 100%;
        height: 100%;
        transition: .2s all ease;
        path{
          stroke: #FFF;
        }
      }
      &:hover{
        svg{
          transform: rotate(90deg);
        }
      }
    }
    .modal-title{
      color:#FFF;
      font-weight: 400;
      font-size: 4rem;
      line-height:4.5rem;
      @media (max-width: 960px){
        font-size: 3rem;
        line-height: 3.5rem;
      }
      @media (max-width: 500px){
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    .modal-subtitle{
      margin-top: 1.5rem;
      color:#FFF;
      font-weight: 500;
      font-size: 1.1rem;
      line-height:1.5rem;
      width: 60%;
      @media (max-width: 960px){
        width: 100%;
      }
    }
    form{
      margin-top: 2.5rem;
      .rows{
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
      }
        .col{
          display: grid;
          grid-template-columns: 1fr;
          &.radios{
            gap: 0.5rem;
          }
      }
      .single-radio ,.single-checkbox{
        display: flex;
        align-items: center;
        gap: .5rem;
        input[type="radio"]{
          appearance: none;
          width: 1rem;
          height: 1rem;
          background-color: $primary;
          border-radius: 100%;
          border: 2px solid #000;
          position: relative;
          cursor: pointer;
          &:checked{
            &:before{
              content: '';
              width: .8rem;
              height: 0.8rem;
              @include centerAbsolute();
              background-color: #000;
              border-radius: 100%
            }
          }
        }
        input[type="checkbox"]{
          appearance: none;
          width: 1rem;
          height: 1rem;
          background-color: $primary;
          border-radius: 5px;
          border: 1px solid #000;
          position: relative;
          cursor: pointer;
          &:checked{
            &:before{
              content: '';
              width: .8rem;
              height: 0.8rem;
              @include centerAbsolute();
              background-color: #000;
              border-radius: 5px;
            }
          }
        }
        label{
          font-size: .9rem;
          line-height: 1.5rem;
          font-weight: 400;
          color: #FFF;
          cursor: pointer;
          user-select: none;
          font-family: inherit;

        }
      }
      input[type="text"], input[type="password"], textarea, select{
        background-color: #F5F5F5;
        color:#000;
        padding:1rem 2.5rem;
        border-radius:0.5rem;
        width: 100%;
        font-family: inherit;
        font-size: .8rem;
        line-height: 1rem;
        font-weight: 700;
        resize: none;
        outline:none;
        border:none;
        &::placeholder{
          color:#000;
        }
        &:focus{
          outline: 1px solid #000;
        }
        &:active{

        }
      }
      select{
        color:#31312F;
      }
      .checks{
        margin: 1.25rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        label{
          font-size: 1rem;
          color:#FFF;
          line-height: 1.25rem;
          cursor: pointer;
          font-family: 'Helvetica', sans-serif;
          a{
            text-decoration: underline;
          }
        }
        input{
          position: relative;
          appearance: none;
          width: 1rem;
          height: 1rem;
          aspect-ratio: 1/1;
          border:1px solid $primary;
          background-color: #000;
          cursor: pointer;
          &:focus{
            outline: 1px solid #000;
          }
          &[type="radio"]{
            border-radius: 100%;
            &:checked{
              &::after{
                border-radius: 100%;
              }
            }
          }
          &:checked{
            &::after{
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 0.65rem;
              height: 0.65rem;
              aspect-ratio: 1/1;
              background-color: $primary;
            }
          }
        }
      }
      .error-msg{
        margin-bottom: 1rem;
        color:red;
        font-size: 1rem;
        font-weight: 500;
        a{
          color:#000;
          display: inline-block;
          text-decoration: underline;
        }
      }
      .col-2{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 50% max-content;
        justify-content: space-between;
        gap: 2rem;
        @media (max-width: 960px){
          grid-template-columns: 1fr;
          gap: 1rem;
          margin-top: 1rem;
        }
      }
      .button-area{
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
        p{
          color:#000;
          span{
            font-weight: 700;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        button{
          font-family: inherit;
          width: 100%;
          background-color: $primary;
          color:#000;
          border-radius: 5px;
          padding: 1rem 2rem;
          font-size: .8rem;
          font-weight: 700;
          line-height: 1rem;
          cursor: pointer;
          &:focus{
            outline: 1px solid #000;
          }
        }
      }
    }

  }
}