.tooltip{
  vertical-align: middle;
  margin-left: .3rem;
  position: relative;
  z-index: 88;
  svg{
    width: 1.1rem;
    height: 1.1rem;
    cursor: help;
  }

}

.tippy-box[data-theme~='tomato'] {
  background-color: $blue;
  color:$text;
  margin: 1.5rem;
  //padding: 3.5rem;
  //border-radius: 5px;
  .tippy-content{
    padding: 3.5rem;
  }

}

#tippy-1{
  .tippy-arrow{
    border-right: 1rem solid $blue;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    left: .5rem;
  }
}

#tippy-2{
  .tippy-arrow{
    border-left: 1rem solid $blue;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    right: .5rem;
  }
}

#tippy-3{
  .tippy-arrow{
    border-top: 1rem solid $blue;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    bottom: .5rem;
  }
}

#tippy-4{
  .tippy-arrow{
    border-top: 1rem solid $blue;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    bottom: .5rem;
  }
}

#tippy-5{
  .tippy-arrow{
    border-top: 1rem solid $blue;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    bottom: .5rem;
  }
}

#tippy-6{
  .tippy-arrow{
    border-top: 1rem solid $blue;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    bottom: .5rem;
  }
}

#tippy-7{
  .tippy-arrow{
    border-top: 1rem solid $blue;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    bottom: .5rem;
  }
}

[data-tippy-root] {
  max-width: calc(100vw - 2rem);
}