/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./css/style.scss ***!
  \*********************************************************************************************************/
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url(af5d51004d95ac2b509f.woff) format("woff"), url(10cb3b775b6d5a9ff183.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url(4afd0ddad83aca207e24.woff) format("woff"), url(913ade56e006573c6610.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.modal-is-open,
body *.modal-is-open {
  overflow: hidden;
}

html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-color: #000;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
html.modal-is-open {
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6, a {
  color: #F5F5F5;
}

input,
button,
select {
  font-family: inherit;
  outline: none;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

input.error {
  box-shadow: 0px 0px 2px 2px rgba(171, 14, 14, 0.68);
}

.white-btn {
  color: #000;
  background-color: #FFf;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.primary-btn {
  color: #000;
  background-color: #DBFF00;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.more-text {
  display: none;
}
.more-text.show {
  display: inline;
}

.tooltip {
  vertical-align: middle;
  margin-left: 0.3rem;
  position: relative;
  z-index: 88;
}
.tooltip svg {
  width: 1.1rem;
  height: 1.1rem;
  cursor: help;
}

.tippy-box[data-theme~=tomato] {
  background-color: #3D7FFF;
  color: #F5F5F5;
  margin: 1.5rem;
}
.tippy-box[data-theme~=tomato] .tippy-content {
  padding: 3.5rem;
}

#tippy-1 .tippy-arrow {
  border-right: 1rem solid #3D7FFF;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  left: 0.5rem;
}

#tippy-2 .tippy-arrow {
  border-left: 1rem solid #3D7FFF;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  right: 0.5rem;
}

#tippy-3 .tippy-arrow {
  border-top: 1rem solid #3D7FFF;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  bottom: 0.5rem;
}

#tippy-4 .tippy-arrow {
  border-top: 1rem solid #3D7FFF;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  bottom: 0.5rem;
}

#tippy-5 .tippy-arrow {
  border-top: 1rem solid #3D7FFF;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  bottom: 0.5rem;
}

#tippy-6 .tippy-arrow {
  border-top: 1rem solid #3D7FFF;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  bottom: 0.5rem;
}

#tippy-7 .tippy-arrow {
  border-top: 1rem solid #3D7FFF;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  bottom: 0.5rem;
}

[data-tippy-root] {
  max-width: calc(100vw - 2rem);
}

footer {
  position: relative;
  padding: 0 5rem 5rem;
}
@media (max-width: 768px) {
  footer {
    padding: 0 2.5rem 2.5rem;
  }
}
footer .main-footer .container {
  max-width: 1800px;
  margin: 0 auto;
}
footer .main-footer .container .wrapper {
  background-color: #181818;
  padding: 5rem;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper {
    padding: 3rem 2.5rem;
  }
}
footer .main-footer .container .wrapper .content {
  width: fit-content;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
footer .main-footer .container .wrapper .content .footer-title {
  color: #9B9B9B;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content .footer-title {
    font-size: 1.5rem;
    order: 1;
  }
}
@media (max-width: 420px) {
  footer .main-footer .container .wrapper .content .footer-title {
    font-size: 1.2rem;
  }
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content .single-col {
    order: 2;
  }
}
footer .main-footer .container .wrapper .content .two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content .two-col {
    grid-template-columns: 1fr;
    gap: 2rem;
    order: 3;
  }
}
footer .main-footer .container .wrapper .content .green-title {
  color: #DBFF00;
  font-size: 0.9rem;
  font-weight: 400;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content .green-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 420px) {
  footer .main-footer .container .wrapper .content .green-title {
    font-size: 1rem;
  }
}
footer .main-footer .container .wrapper .content a {
  color: #FFF;
  margin-top: 0.75rem;
  position: relative;
  z-index: 1;
  display: block;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content a {
    font-size: 1.5rem;
  }
}
@media (max-width: 420px) {
  footer .main-footer .container .wrapper .content a {
    font-size: 1rem;
  }
}
footer .main-footer .container .wrapper .content .info-block {
  margin-bottom: 2.5rem;
}
@media (max-width: 960px) {
  footer .main-footer .container .wrapper .content .info-block {
    margin-bottom: 0;
  }
}
footer .main-footer .copyright-text {
  margin-top: 3rem;
  color: #636363;
  font-size: 0.75rem;
}
@media (max-width: 960px) {
  footer .main-footer .copyright-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  footer .main-footer .copyright-text {
    font-size: 1rem;
  }
}
footer .footer-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 960px) {
  footer .footer-img {
    aspect-ratio: 1/1;
  }
}
footer .footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
@media (max-width: 960px) {
  footer .footer-img img {
    object-fit: contain;
    object-position: 50% 100%;
  }
}

.modal {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal .block {
  background-color: rgb(0, 0, 0);
  padding: 5rem;
  position: relative;
  min-width: 66%;
  max-width: 1330px;
}
@media (max-width: 960px) {
  .modal .block {
    max-width: calc(100% - 10rem);
    margin: auto auto;
    padding: 5rem 3rem 3rem;
  }
}
@media (max-width: 500px) {
  .modal .block {
    min-width: unset;
    padding: 5rem 2rem 2rem;
  }
}
@media (max-width: 500px) {
  .modal .block {
    max-width: calc(100% - 5rem);
  }
}
.modal .block .close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 960px) {
  .modal .block .close-modal {
    width: 2rem;
    height: 2rem;
    left: 50%;
    right: unset;
  }
}
.modal .block .close-modal svg {
  width: 100%;
  height: 100%;
  transition: 0.2s all ease;
}
.modal .block .close-modal svg path {
  stroke: #FFF;
}
.modal .block .close-modal:hover svg {
  transform: rotate(90deg);
}
.modal .block .modal-title {
  color: #FFF;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.5rem;
}
@media (max-width: 960px) {
  .modal .block .modal-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 500px) {
  .modal .block .modal-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.modal .block .modal-subtitle {
  margin-top: 1.5rem;
  color: #FFF;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 60%;
}
@media (max-width: 960px) {
  .modal .block .modal-subtitle {
    width: 100%;
  }
}
.modal .block form {
  margin-top: 2.5rem;
}
.modal .block form .rows {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.modal .block form .col {
  display: grid;
  grid-template-columns: 1fr;
}
.modal .block form .col.radios {
  gap: 0.5rem;
}
.modal .block form .single-radio, .modal .block form .single-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modal .block form .single-radio input[type=radio], .modal .block form .single-checkbox input[type=radio] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #DBFF00;
  border-radius: 100%;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
}
.modal .block form .single-radio input[type=radio]:checked:before, .modal .block form .single-checkbox input[type=radio]:checked:before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 100%;
}
.modal .block form .single-radio input[type=checkbox], .modal .block form .single-checkbox input[type=checkbox] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #DBFF00;
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}
.modal .block form .single-radio input[type=checkbox]:checked:before, .modal .block form .single-checkbox input[type=checkbox]:checked:before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 5px;
}
.modal .block form .single-radio label, .modal .block form .single-checkbox label {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #FFF;
  cursor: pointer;
  user-select: none;
  font-family: inherit;
}
.modal .block form input[type=text], .modal .block form input[type=password], .modal .block form textarea, .modal .block form select {
  background-color: #F5F5F5;
  color: #000;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 700;
  resize: none;
  outline: none;
  border: none;
}
.modal .block form input[type=text]::placeholder, .modal .block form input[type=password]::placeholder, .modal .block form textarea::placeholder, .modal .block form select::placeholder {
  color: #000;
}
.modal .block form input[type=text]:focus, .modal .block form input[type=password]:focus, .modal .block form textarea:focus, .modal .block form select:focus {
  outline: 1px solid #000;
}
.modal .block form select {
  color: #31312F;
}
.modal .block form .checks {
  margin: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal .block form .checks label {
  font-size: 1rem;
  color: #FFF;
  line-height: 1.25rem;
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
}
.modal .block form .checks label a {
  text-decoration: underline;
}
.modal .block form .checks input {
  position: relative;
  appearance: none;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  border: 1px solid #DBFF00;
  background-color: #000;
  cursor: pointer;
}
.modal .block form .checks input:focus {
  outline: 1px solid #000;
}
.modal .block form .checks input[type=radio] {
  border-radius: 100%;
}
.modal .block form .checks input[type=radio]:checked::after {
  border-radius: 100%;
}
.modal .block form .checks input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.65rem;
  height: 0.65rem;
  aspect-ratio: 1/1;
  background-color: #DBFF00;
}
.modal .block form .error-msg {
  margin-bottom: 1rem;
  color: red;
  font-size: 1rem;
  font-weight: 500;
}
.modal .block form .error-msg a {
  color: #000;
  display: inline-block;
  text-decoration: underline;
}
.modal .block form .col-2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50% max-content;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 960px) {
  .modal .block form .col-2 {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
}
.modal .block form .button-area {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}
.modal .block form .button-area p {
  color: #000;
}
.modal .block form .button-area p span {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.modal .block form .button-area button {
  font-family: inherit;
  width: 100%;
  background-color: #DBFF00;
  color: #000;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
  cursor: pointer;
}
.modal .block form .button-area button:focus {
  outline: 1px solid #000;
}

.page-header {
  margin-top: 3rem;
}
.page-header .content {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  .page-header .content {
    width: 1500px;
  }
}
@media (max-width: 1200px) {
  .page-header .content {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .page-header .content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .page-header .content {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .page-header .content {
    width: 90%;
  }
}
.page-header .content a {
  display: block;
  width: fit-content;
}
@media (max-width: 980px) {
  .page-header .content a {
    margin: 0 auto;
  }
}
.page-header .content .logo-area {
  overflow: hidden;
}
.page-header .content .logo-area video, .page-header .content .logo-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
  width: 8.5rem;
  height: 8.5rem;
  object-fit: contain;
}
@media (max-width: 980px) {
  .page-header .content .logo-area video, .page-header .content .logo-area img {
    width: 7.5rem;
    height: 7.5rem;
  }
}
.page-header .content .logo-area.desktop {
  display: block;
}
@media (max-width: 980px) {
  .page-header .content .logo-area.desktop {
    display: none;
  }
}
.page-header .content .logo-area.mobile {
  display: none;
}
@media (max-width: 980px) {
  .page-header .content .logo-area.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.main-hero-block {
  padding: 5rem 5rem 0;
  margin-bottom: 8rem;
}
@media (max-width: 768px) {
  .main-hero-block {
    padding: 0 2.5rem;
  }
}
.main-hero-block .container {
  max-width: 1800px;
  margin: 0 auto;
}
.main-hero-block .container .logo-area {
  overflow: hidden;
}
.main-hero-block .container .logo-area video, .main-hero-block .container .logo-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
  width: 8.5rem;
  height: 8.5rem;
  object-fit: contain;
}
@media (max-width: 980px) {
  .main-hero-block .container .logo-area video, .main-hero-block .container .logo-area img {
    width: 7.5rem;
    height: 7.5rem;
  }
}
.main-hero-block .container .logo-area.desktop {
  display: block;
}
@media (max-width: 980px) {
  .main-hero-block .container .logo-area.desktop {
    display: none;
  }
}
.main-hero-block .container .logo-area.mobile {
  display: none;
}
@media (max-width: 980px) {
  .main-hero-block .container .logo-area.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
.main-hero-block .container .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 1080px) {
  .main-hero-block .container .wrapper {
    gap: 1.5rem;
  }
}
@media (max-width: 980px) {
  .main-hero-block .container .wrapper {
    grid-template-columns: 1fr;
  }
}
.main-hero-block .container .wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .main-hero-block .container .wrapper .left {
    order: 2;
  }
}
.main-hero-block .container .wrapper .left .content-area {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  position: relative;
}
.main-hero-block .container .wrapper .left .content-area .title {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .main-hero-block .container .wrapper .left .content-area .title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.main-hero-block .container .wrapper .left .content-area .title b, .main-hero-block .container .wrapper .left .content-area .title strong {
  color: #DBFF00;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .main-hero-block .container .wrapper .left .content-area .title br {
    display: none;
  }
}
.main-hero-block .container .wrapper .left .content-area .subtitle {
  color: #9B9B9B;
  margin-right: 5rem;
  position: relative;
}
@media (max-width: 1280px) {
  .main-hero-block .container .wrapper .left .content-area .subtitle br {
    display: none;
  }
}
@media (max-width: 980px) {
  .main-hero-block .container .wrapper .left .content-area .subtitle br {
    display: block;
  }
}
.main-hero-block .container .wrapper .left .content-area .subtitle b, .main-hero-block .container .wrapper .left .content-area .subtitle strong {
  font-weight: 700;
}
.main-hero-block .container .wrapper .left .content-area .button-area {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 980px) {
  .main-hero-block .container .wrapper .right {
    order: 1;
  }
}
.main-hero-block .container .wrapper .right .media-area {
  margin-right: 0;
  margin-left: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: 40rem;
}
@media (max-width: 980px) {
  .main-hero-block .container .wrapper .right .media-area {
    aspect-ratio: 330/400;
  }
}
.main-hero-block .container .wrapper .right .media-area img, .main-hero-block .container .wrapper .right .media-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}

.steps-block {
  padding: 5rem;
}
@media (max-width: 768px) {
  .steps-block {
    padding: 0 2.5rem;
  }
}
.steps-block.no-margin {
  margin-top: -25rem;
  padding: 0;
}
.steps-block.up {
  margin-top: -10rem;
}
.steps-block .container {
  max-width: 1800px;
  margin: 0 auto;
}
.steps-block .container.no-margin {
  max-width: 100%;
}
.steps-block .container .step {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}
.steps-block .container .step .media-area {
  overflow: hidden;
  width: 19rem;
  height: 24rem;
  position: relative;
}
.steps-block .container .step .media-area img, .steps-block .container .step .media-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
.steps-block .container .step .media-area button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.steps-block .container .step .media-area button.playing-video {
  display: none;
}
.steps-block .container .step .media-area button svg {
  width: 100%;
  height: 100%;
}
.steps-block .container .step .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(0, -50%);
  background-color: #DBFF00;
}
@media (max-width: 960px) {
  .steps-block .container .step.first {
    flex-direction: column-reverse;
  }
}
.steps-block .container .step.first.margin-bottom {
  margin-bottom: 3.5rem;
}
.steps-block .container .step.first .content-area {
  width: 40rem;
  position: relative;
  transform: translateY(-7rem);
}
.steps-block .container .step.first .content-area.width-fit {
  width: fit-content;
}
@media (max-width: 960px) {
  .steps-block .container .step.first .content-area {
    width: 100%;
    margin: 0 auto;
    transform: translateY(0);
  }
}
.steps-block .container .step.first .content-area .title {
  text-align: center;
  margin-right: 0;
  margin-left: auto;
}
.steps-block .container .step.first .content-area .subtitle {
  text-align: center;
  margin: 0 auto;
  width: 65%;
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
@media (max-width: 960px) {
  .steps-block .container .step.first .content-area .subtitle {
    width: 100%;
  }
}
.steps-block .container .step.first .content-area .subtitle b, .steps-block .container .step.first .content-area .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.steps-block .container .step.first .content-area .line {
  background-color: #DBFF00;
}
.steps-block .container .step.first .content-area .line.vertical {
  width: 1px;
  height: 12rem;
  margin: 2.5rem auto 0;
}
.steps-block .container .step.first .content-area .line.vertical.text-active {
  height: 2rem;
}
.steps-block .container .step.first .content-area .line.horizontal {
  width: 50%;
  height: 1px;
}
@media (max-width: 960px) {
  .steps-block .container .step.first .content-area .line.horizontal {
    display: none;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.first .content-area .dot {
    margin: 0 auto;
  }
}
.steps-block .container .step.first .media-area {
  min-width: 19rem;
}
.steps-block .container .step.first .media-area.height-auto {
  height: auto;
}
@media (max-width: 960px) {
  .steps-block .container .step.first .media-area {
    width: 100%;
    height: unset;
  }
}
.steps-block .container .step.second {
  position: relative;
}
@media (max-width: 960px) {
  .steps-block .container .step.second {
    display: grid;
    grid-template-columns: 2rem 1fr;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second {
    margin-top: 2.5rem;
  }
}
.steps-block .container .step.second .line {
  background-color: #DBFF00;
}
.steps-block .container .step.second .line.vertical {
  width: 1px;
  height: 12rem;
  margin: 2.5rem 0 0 8.5rem;
}
@media (max-width: 1600px) {
  .steps-block .container .step.second .line.vertical {
    margin: 2.5rem 0 0 5rem;
  }
}
@media (max-width: 1280px) {
  .steps-block .container .step.second .line.vertical {
    height: 8rem;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second .line.vertical {
    margin: 2.5rem 0 0 0rem;
  }
}
.steps-block .container .step.second .line.horizontal {
  width: 13rem;
  height: 1px;
  margin-left: 8.5rem;
}
@media (max-width: 1600px) {
  .steps-block .container .step.second .line.horizontal {
    margin-left: 5rem;
    width: 8rem;
  }
}
@media (max-width: 1280px) {
  .steps-block .container .step.second .line.horizontal {
    margin-left: 5rem;
    width: 3rem;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second .line.horizontal {
    margin-left: 0;
    width: 2rem;
  }
}
.steps-block .container .step.second .line.vertical-2 {
  width: 1px;
  height: 13rem;
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 1850px) {
  .steps-block .container .step.second .line.vertical-2 {
    height: 10rem;
  }
}
@media (max-width: 1650px) {
  .steps-block .container .step.second .line.vertical-2 {
    height: 8rem;
  }
}
@media (max-width: 1500px) {
  .steps-block .container .step.second .line.vertical-2 {
    height: 6rem;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second .line.vertical-2 {
    margin: 0 auto;
  }
}
.steps-block .container .step.second .line.horizontal-2 {
  width: 8.5rem;
  height: 1px;
}
@media (max-width: 1650px) {
  .steps-block .container .step.second .line.horizontal-2 {
    width: 6rem;
  }
}
@media (max-width: 1510px) {
  .steps-block .container .step.second .line.horizontal-2 {
    width: 5rem;
  }
}
@media (max-width: 1500px) {
  .steps-block .container .step.second .line.horizontal-2 {
    width: 4rem;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second .line.horizontal-2 {
    display: none;
  }
}
.steps-block .container .step.second .elements-2 {
  position: absolute;
  bottom: -3rem;
  right: 25%;
  transform: translate(0, 100%);
}
@media (max-width: 1900px) {
  .steps-block .container .step.second .elements-2 {
    right: 20%;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.second .elements-2 {
    right: 50%;
  }
}
.steps-block .container .step.second .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(0, -50%);
  background-color: #DBFF00;
  margin-right: 0;
  margin-left: auto;
}
.steps-block .container .step.second .content-area {
  width: 22rem;
}
@media (max-width: 960px) {
  .steps-block .container .step.second .content-area {
    width: 100%;
    margin-top: 12rem;
  }
}
.steps-block .container .step.second .content-area .title {
  text-align: left;
}
.steps-block .container .step.second .content-area .subtitle {
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
.steps-block .container .step.second .content-area .subtitle b, .steps-block .container .step.second .content-area .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.steps-block .container .step.second .media-area {
  width: 100%;
  max-width: 28rem;
  height: 30rem;
}
.steps-block .container .step.second .media-area.height-auto {
  height: auto;
}
@media (max-width: 960px) {
  .steps-block .container .step.second .media-area {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: unset;
    height: unset;
  }
}
.steps-block .container .step.third {
  margin: 5rem 0;
  display: block;
  overflow-x: hidden;
}
@media (max-width: 960px) {
  .steps-block .container .step.third {
    margin: 18rem 0 0;
  }
}
@media (max-width: 840px) {
  .steps-block .container .step.third {
    margin: 20rem 0 4rem;
  }
}
@media (max-width: 768px) {
  .steps-block .container .step.third {
    margin: 25rem 0 10rem;
  }
}
@media (max-width: 600px) {
  .steps-block .container .step.third {
    margin: 28rem 0 15rem;
  }
}
@media (max-width: 370px) {
  .steps-block .container .step.third {
    margin: 30rem 0 20rem;
  }
}
.steps-block .container .step.third #lottie {
  width: 120%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px) translateX(-10%);
}
.steps-block .container .step.third .slider-pile {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.steps-block .container .step.third .slider-pile video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
  object-fit: contain;
}
.steps-block .container .step.fourth {
  position: relative;
  justify-content: center;
}
.steps-block .container .step.fourth .ornament {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-100%, -100%);
}
@media (max-width: 960px) {
  .steps-block .container .step.fourth .ornament {
    left: 50%;
  }
}
.steps-block .container .step.fourth .line {
  background-color: #DBFF00;
}
.steps-block .container .step.fourth .line.vertical {
  width: 1px;
  height: 25rem;
}
@media (max-width: 1450px) {
  .steps-block .container .step.fourth .line.vertical {
    height: 20rem;
  }
}
@media (max-width: 960px) {
  .steps-block .container .step.fourth .line.vertical {
    display: none;
  }
}
.steps-block .container .step.fourth .line.vertical-2 {
  width: 1px;
  height: 4.5rem;
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 960px) {
  .steps-block .container .step.fourth .line.vertical-2 {
    height: 8rem;
  }
}
.steps-block .container .step.fourth .line.horizontal {
  width: 30rem;
  height: 1px;
}
@media (max-width: 960px) {
  .steps-block .container .step.fourth .line.horizontal {
    display: none;
  }
}
.steps-block .container .step.fourth .dot {
  transform: translate(50%, 0%);
  margin-right: 0;
  margin-left: auto;
}
.steps-block .container .step.fourth .content-area {
  text-align: center;
}
.steps-block .container .step.fourth .content-area .subtitle {
  text-align: center;
  margin: 0 auto;
  width: 65%;
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
@media (max-width: 960px) {
  .steps-block .container .step.fourth .content-area .subtitle {
    width: 100%;
  }
}
.steps-block .container .step.fourth .content-area .subtitle b, .steps-block .container .step.fourth .content-area .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.steps-block .container .step.fourth .examples-wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 700px) {
  .steps-block .container .step.fourth .examples-wrapper {
    grid-template-columns: 1fr;
  }
}
.steps-block .container .step.fourth .examples-wrapper .single-example {
  display: flex;
  flex-direction: column;
}
.steps-block .container .step.fourth .examples-wrapper .single-example .example-photo {
  max-height: 14rem;
  max-width: 14rem;
  aspect-ratio: 1/1;
  margin: 0 auto 1.5rem;
}
@media (max-width: 600px) {
  .steps-block .container .step.fourth .examples-wrapper .single-example .example-photo {
    max-height: unset;
    max-width: unset;
    width: 100%;
  }
}
.steps-block .container .step.fourth .examples-wrapper .single-example .example-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
  object-fit: contain;
}
.steps-block .container .step.fourth .examples-wrapper .single-example .title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #FFF;
  margin-bottom: 0;
}
.steps-block .container .step.fourth .examples-wrapper .single-example .matmenys {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #9B9B9B;
  text-align: center;
}
.steps-block .container .step .content-area .title {
  color: #F5F5F5;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1.75rem;
}

.text-video-block {
  padding: 0 5rem;
  margin: 7.5rem 0 0rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .text-video-block {
    padding: 0 2.5rem;
  }
}
.text-video-block .container {
  max-width: 1800px;
  margin: 0 auto;
}
.text-video-block .container .wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper {
    grid-template-columns: 1fr;
  }
}
.text-video-block .container .wrapper.second {
  grid-template-columns: 1.7fr 1fr;
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper.second {
    grid-template-columns: 1fr;
  }
  .text-video-block .container .wrapper.second .left {
    order: 2;
  }
  .text-video-block .container .wrapper.second .right {
    order: 1;
  }
}
.text-video-block .container .wrapper .left {
  background-color: #181818;
  padding: 3rem 3rem 1.7rem;
}
@media (max-width: 1350px) {
  .text-video-block .container .wrapper .left {
    padding: 1.5rem 1.5rem 1rem;
  }
}
.text-video-block .container .wrapper .left.media {
  background-color: transparent;
  padding: 0;
  overflow: hidden;
}
.text-video-block .container .wrapper .left .content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.text-video-block .container .wrapper .left .content .title {
  color: #fff;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 400;
}
.text-video-block .container .wrapper .left .content .subtitle {
  color: #9B9B9B;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.text-video-block .container .wrapper .left .content .title2 {
  margin: 2rem 0 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FFF;
}
.text-video-block .container .wrapper .left .content .points {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #494949;
}
.text-video-block .container .wrapper .left .content .points .single-point {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-video-block .container .wrapper .left .content .points .title, .text-video-block .container .wrapper .left .content .points .value {
  font-size: 0.9rem;
  font-weight: 400;
  color: #9b9b9b;
}
.text-video-block .container .wrapper .left .content .points .value {
  text-align: right;
}
.text-video-block .container .wrapper .left .content .icon-text {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.text-video-block .container .wrapper .left .content .icon-text .icon {
  height: 1rem;
}
.text-video-block .container .wrapper .left .content .icon-text .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
.text-video-block .container .wrapper .left .content .icon-text .green {
  color: #DBFF00;
  font-size: 0.9rem;
  font-weight: 400;
}
.text-video-block .container .wrapper .right {
  overflow: hidden;
}
.text-video-block .container .wrapper .right.bg {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 2rem 3.5rem;
}
@media (max-width: 1600px) {
  .text-video-block .container .wrapper .right.bg {
    padding: 1.5rem 1.5rem 2.5rem;
  }
}
@media (max-width: 1280px) {
  .text-video-block .container .wrapper .right.bg {
    padding: 1rem 1rem 2rem;
  }
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper .right.bg {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
.text-video-block .container .wrapper .right.bg .content {
  width: 70%;
  margin: 0 auto;
}
.text-video-block .container .wrapper .right.bg .content .number {
  color: #DBFF00;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 400;
}
@media (max-width: 1600px) {
  .text-video-block .container .wrapper .right.bg .content .number {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 1280px) {
  .text-video-block .container .wrapper .right.bg .content .number {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper .right.bg .content .number {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (max-width: 500px) {
  .text-video-block .container .wrapper .right.bg .content .number {
    font-size: 5rem;
    line-height: 5rem;
  }
}
.text-video-block .container .wrapper .right.bg .content .text {
  margin-top: 0.5rem;
  line-height: 2rem;
  font-size: 1.75rem;
}
@media (max-width: 1760px) {
  .text-video-block .container .wrapper .right.bg .content .text {
    font-size: 1.5rem;
  }
}
@media (max-width: 1280px) {
  .text-video-block .container .wrapper .right.bg .content .text {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper .right.bg .content .text {
    line-height: 2rem;
    font-size: 1.75rem;
  }
}
@media (max-width: 600px) {
  .text-video-block .container .wrapper .right.bg .content .text {
    font-size: 1.5rem;
  }
}
.text-video-block .container .wrapper .media-area {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1015/534;
}
@media (max-width: 960px) {
  .text-video-block .container .wrapper .media-area {
    aspect-ratio: 330/534;
  }
}
.text-video-block .container .wrapper .media-area img, .text-video-block .container .wrapper .media-area video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
.text-video-block .container .wrapper .media-area button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer;
  border-radius: 100%;
}
.text-video-block .container .wrapper .media-area button.playing-video {
  display: none;
}
.text-video-block .container .divider {
  position: relative;
  margin: 4.5rem 0;
  left: 50%;
}
.text-video-block .container .divider .line {
  width: 1px;
  height: 7.5rem;
  background-color: #DBFF00;
}
.text-video-block .container .divider .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #DBFF00;
}

.two-images-grid {
  margin: -2rem 0 3.5rem;
  padding: 0 5rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .two-images-grid {
    padding: 0 2.5rem;
    margin: 2rem 0;
  }
}
.two-images-grid .container {
  max-width: 1800px;
  margin: 0 auto;
}
.two-images-grid .container .content .title {
  color: #F5F5F5;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
.two-images-grid .container .content .subtitle {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
@media (max-width: 960px) {
  .two-images-grid .container .content .subtitle {
    width: 100%;
  }
}
.two-images-grid .container .content .subtitle.width {
  width: 60%;
}
.two-images-grid .container .content .subtitle b, .two-images-grid .container .content .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.two-images-grid .container .wrapper {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  gap: 0.5rem;
  width: 90%;
  margin: 3rem auto 0;
}
@media (max-width: 960px) {
  .two-images-grid .container .wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
.two-images-grid .container .wrapper .media-area {
  overflow: hidden;
  height: 100%;
  max-height: 26.5rem;
  position: relative;
}
.two-images-grid .container .wrapper .media-area video, .two-images-grid .container .wrapper .media-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
.two-images-grid .container .wrapper .media-area button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.two-images-grid .container .wrapper .media-area button.playing-video {
  display: none;
}
.two-images-grid .container .wrapper .media-area button svg {
  width: 100%;
  height: 100%;
}
.two-images-grid .container .divider {
  position: relative;
  margin: 4.5rem 0 0;
  left: 50%;
}
.two-images-grid .container .divider .line {
  width: 1px;
  height: 7.5rem;
  background-color: #DBFF00;
}
.two-images-grid .container .divider .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #DBFF00;
}

.gallery-block {
  margin: 5rem 0 16.75rem;
  padding: 0 5rem;
}
@media (max-width: 768px) {
  .gallery-block {
    padding: 0 2.5rem;
    margin: 2rem 0 16.75rem;
  }
}
.gallery-block .container {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}
.gallery-block .container .content .title {
  color: #F5F5F5;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
.gallery-block .container .content .subtitle {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
.gallery-block .container .content .subtitle.width {
  width: 60%;
}
@media (max-width: 960px) {
  .gallery-block .container .content .subtitle {
    width: 100%;
  }
}
.gallery-block .container .content .subtitle b, .gallery-block .container .content .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.gallery-block .container .gallery-slider-wrapper {
  display: grid;
  width: 85%;
  margin-top: 2.5rem;
}
@media (max-width: 960px) {
  .gallery-block .container .gallery-slider-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.gallery-block .container .gallery-slider-wrapper .left .splide .splide__pagination {
  position: absolute;
  bottom: -1.75rem;
  left: 0;
  display: flex;
  gap: 1rem;
}
@media (max-width: 960px) {
  .gallery-block .container .gallery-slider-wrapper .left .splide .splide__pagination {
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: -2.75rem;
  }
}
.gallery-block .container .gallery-slider-wrapper .left .splide .splide__pagination li button {
  cursor: pointer;
  width: 1.5rem;
  height: 2px;
  background-color: #FFF;
}
.gallery-block .container .gallery-slider-wrapper .left .splide .splide__pagination li button:before {
  height: 2rem;
  content: "";
  display: block;
  transform: translateY(-50%);
}
.gallery-block .container .gallery-slider-wrapper .left .splide .splide__pagination li button.is-active {
  background-color: #DBFF00;
}
.gallery-block .container .gallery-slider-wrapper .left .splide .image-area {
  width: 100%;
  aspect-ratio: 1099/601;
  overflow: hidden;
}
@media (max-width: 960px) {
  .gallery-block .container .gallery-slider-wrapper .left .splide .image-area {
    aspect-ratio: 329/500;
  }
}
.gallery-block .container .gallery-slider-wrapper .left .splide .image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transform: none;
}
.gallery-block .container .gallery-slider-wrapper .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-block .container .ornaments {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}
@media (max-width: 960px) {
  .gallery-block .container .ornaments {
    position: relative;
    left: unset;
    top: unset;
  }
}
.gallery-block .container .line {
  background-color: #DBFF00;
}
.gallery-block .container .line.vertical {
  top: 50%;
  right: 0rem;
  width: 10%;
  height: 1px;
  position: absolute;
}
@media (max-width: 960px) {
  .gallery-block .container .line.vertical {
    display: none;
  }
}
.gallery-block .container .line.horizontal {
  width: 1px;
  height: 33rem;
  position: absolute;
  right: 0;
  top: 50%;
}
@media (max-width: 1750px) {
  .gallery-block .container .line.horizontal {
    height: 30rem;
  }
}
@media (max-width: 1750px) {
  .gallery-block .container .line.horizontal {
    height: 30rem;
  }
}
@media (max-width: 960px) {
  .gallery-block .container .line.horizontal {
    display: none;
  }
}
.gallery-block .container .line.vertical-2 {
  width: 50%;
  height: 1px;
  position: absolute;
  right: 0;
  transform: translate(0, -100%);
  top: calc(50% + 33rem);
}
@media (max-width: 1750px) {
  .gallery-block .container .line.vertical-2 {
    top: calc(50% + 30rem);
  }
}
@media (max-width: 1500px) {
  .gallery-block .container .line.vertical-2 {
    top: calc(50% + 27rem);
  }
}
@media (max-width: 960px) {
  .gallery-block .container .line.vertical-2 {
    display: none;
  }
}
.gallery-block .container .line.horizontal-2 {
  width: 1px;
  height: 5.75rem;
  position: absolute;
  right: 50%;
  transform: translate(0, 0%);
  top: calc(50% + 33rem);
}
@media (max-width: 1750px) {
  .gallery-block .container .line.horizontal-2 {
    top: calc(50% + 30rem);
  }
}
@media (max-width: 1500px) {
  .gallery-block .container .line.horizontal-2 {
    top: calc(50% + 27rem);
  }
}
@media (max-width: 960px) {
  .gallery-block .container .line.horizontal-2 {
    bottom: -10rem;
    top: unset;
  }
}
.gallery-block .container .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: translate(-50%, 100%);
  position: absolute;
  bottom: -38.75rem;
  background-color: #DBFF00;
  left: 50%;
}
@media (max-width: 1750px) {
  .gallery-block .container .dot {
    bottom: -35.75rem;
  }
}
@media (max-width: 1500px) {
  .gallery-block .container .dot {
    bottom: -32.75rem;
  }
}
@media (max-width: 960px) {
  .gallery-block .container .dot {
    bottom: -10rem;
  }
}

.newsletter-form {
  margin: 7.5rem 0;
  padding: 0 5rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .newsletter-form {
    padding: 0 2.5rem;
    margin: 5rem 0;
  }
}
.newsletter-form .container {
  max-width: 1800px;
  margin: 0 auto;
}
.newsletter-form .container .content .title {
  color: #F5F5F5;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 1.75rem;
  text-align: center;
}
.newsletter-form .container .content .title b, .newsletter-form .container .content .title strong {
  color: #DBFF00;
  font-weight: 400;
}
.newsletter-form .container .content .subtitle {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  position: relative;
  color: #9B9B9B;
  font-weight: 400;
}
@media (max-width: 960px) {
  .newsletter-form .container .content .subtitle {
    width: 100%;
  }
}
.newsletter-form .container .content .subtitle b, .newsletter-form .container .content .subtitle strong {
  font-weight: 700;
  color: #FFF;
}
.newsletter-form .container form.newsletter {
  width: 50%;
  margin: 2.5rem auto 0;
}
@media (max-width: 960px) {
  .newsletter-form .container form.newsletter {
    width: 100%;
  }
}
.newsletter-form .container form.newsletter .input {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.75rem;
}
.newsletter-form .container form.newsletter .input input {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 0.5rem;
  padding: 1rem 1.1rem;
  font-weight: 700;
  color: #000;
}
@media (max-width: 960px) {
  .newsletter-form .container form.newsletter .input input {
    height: 100%;
  }
}
.newsletter-form .container form.newsletter .input input::placeholder {
  font-weight: 700;
  color: #000;
}
.newsletter-form .container form.newsletter .input button {
  height: 100%;
  border-radius: 0.5rem;
}
@media (max-width: 960px) {
  .newsletter-form .container form.newsletter .input button {
    aspect-ratio: 1/1;
  }
}
.newsletter-form .container form.newsletter .input button .desktop {
  display: flex;
}
@media (max-width: 960px) {
  .newsletter-form .container form.newsletter .input button .desktop {
    display: none;
  }
}
.newsletter-form .container form.newsletter .input button .mobile {
  display: none;
}
@media (max-width: 960px) {
  .newsletter-form .container form.newsletter .input button .mobile {
    display: flex;
  }
}

.text-block {
  margin: 3rem 0;
}
.text-block .container {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  .text-block .container {
    width: 1500px;
  }
}
@media (max-width: 1200px) {
  .text-block .container {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .text-block .container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .text-block .container {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .text-block .container {
    width: 90%;
  }
}
.text-block .container .content {
  overflow: hidden;
}
.text-block .container .content .title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #FFF;
  margin-bottom: 1.5rem;
}
.text-block .container .content .table {
  overflow: auto;
}
.text-block .container .content .text * {
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-block .container .content .text b, .text-block .container .content .text strong {
  font-weight: 700;
}
.text-block .container .content .text a {
  color: #DBFF00;
  text-decoration: underline;
}
.text-block .container .content .text a span {
  color: #DBFF00;
}
.text-block .container .content .text table {
  border: 1px solid #FFF;
  text-align: center;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.text-block .container .content .text table tr, .text-block .container .content .text table td {
  border: 1px solid #FFF;
  padding: 0.5rem;
}
.text-block .container .content .text table td {
  vertical-align: middle;
}
.text-block .container .content .text table thead {
  background-color: #DBFF00;
}
.text-block .container .content .text table thead td {
  color: #000;
  font-weight: 700;
}
