.steps-block{
  padding:5rem;
  @media (max-width: 768px){
    padding: 0 2.5rem;
  }
  &.no-margin{
    margin-top: -25rem;
    padding: 0;
  }
  &.up{
    margin-top: -10rem;
  }
  .container{
    max-width: 1800px;
    margin:0 auto;
    &.no-margin{
      max-width: 100%;
    }
    .step{
      display: flex;
      flex-direction: row;
      gap: 3.5rem;
      .media-area{
        overflow: hidden;
        width: 19rem;
        height: 24rem;
        position: relative;
        img, video {
          @include imageCover(50%, 50%);
        }
        button{
          @include centerAbsolute();
          background-color: transparent;
          width: 5rem;
          height: 5rem;
          cursor: pointer;
          &.playing-video{
            display: none;
          }
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
      .dot{
        width: .5rem;
        height: 0.5rem;
        border-radius: 100%;
        transform: translate(0, -50%);
        background-color: $primary;
      }

      &.first{
        @media (max-width: 960px){
          flex-direction: column-reverse;
        }
        &.margin-bottom{
          margin-bottom: 3.5rem;
        }
        .content-area{
          width: 40rem;
          position: relative;
          transform: translateY(-7rem);
          &.width-fit{
            width: fit-content;
          }

          @media (max-width: 960px){
            width: 100%;
            margin: 0 auto;
            transform: translateY(0);
          }
          .title{
          text-align: center;
            margin-right: 0;
            margin-left: auto;
          }
          .subtitle{
            text-align: center;
            margin: 0 auto;
            width: 65%;
            position: relative;
            color:$textgray;
            font-weight: 400;
            @media (max-width: 960px){
              width: 100%;
            }
            b, strong{
              font-weight: 700;
              color:#FFF;
            }
          }
          .line{
            background-color: $primary;
            &.vertical{
              width: 1px;
              height: 12rem;
              margin: 2.5rem auto 0;
              &.text-active{
                height: 2rem;
              }
            }
            &.horizontal{
              width: 50%;
              height: 1px;
              @media (max-width: 960px){
                display: none;
              }
            }
          }
          .dot{
            @media (max-width: 960px){
              margin: 0 auto;
            }
          }
        }
        .media-area{
          min-width: 19rem;
          &.height-auto{
            height: auto;
          }
          @media (max-width: 960px){
            width: 100%;
            height: unset;
          }
        }
      }
      &.second{
        position: relative;
        @media (max-width: 960px){
          display: grid;
          grid-template-columns: 2rem 1fr;
        }
        @media (max-width: 960px){
          margin-top: 2.5rem;
        }
        .line{
          background-color: $primary;
          &.vertical{
            width: 1px;
            height: 12rem;
            margin: 2.5rem 0 0 8.5rem;
            @media (max-width: 1600px){
              margin: 2.5rem 0 0 5rem;
            }
            @media (max-width: 1280px){
              height: 8rem;
            }
            @media (max-width: 960px){
              margin: 2.5rem 0 0 0rem;
            }
          }
          &.horizontal{
            width: 13rem;
            height: 1px;
            margin-left: 8.5rem;
            @media (max-width: 1600px){
              margin-left: 5rem;
              width: 8rem;
            }
            @media (max-width: 1280px){
              margin-left: 5rem;
              width: 3rem;
            }
            @media (max-width: 960px){
              margin-left: 0;
              width: 2rem;
            }
          }
          &.vertical-2{
            width: 1px;
            height: 13rem;
            margin-right: 0;
            margin-left: auto;
            @media (max-width: 1850px){
              height: 10rem;
            }
            @media (max-width: 1650px){
              height: 8rem;
            }
            @media (max-width: 1500px){
              height: 6rem;
            }
            @media (max-width: 960px){
              margin: 0 auto;
            }
          }
          &.horizontal-2{
            width: 8.5rem;
            height: 1px;
            @media (max-width: 1650px){
              width: 6rem;
            }
            @media (max-width: 1510px){
              width: 5rem;
            }
            @media (max-width: 1500px){
              width: 4rem;
            }
            @media (max-width: 960px){
              display: none;
            }
          }
        }
        .elements-2{
          position: absolute;
          bottom: -3rem;
          right: 25%;
          transform: translate(0, 100%);

          @media (max-width: 1900px){
            right: 20%;
          }
          @media (max-width: 960px){
            right: 50%;
          }
        }
        .dot{
          width: .5rem;
          height: 0.5rem;
          border-radius: 100%;
          transform: translate(0, -50%);
          background-color: $primary;
          margin-right: 0;
          margin-left: auto;
        }
        .content-area {
          width: 22rem;
          @media (max-width: 960px){
            width: 100%;
            margin-top: 12rem;
          }
          .title {
            text-align: left;
          }
          .subtitle {
            position: relative;
            color: $textgray;
            font-weight: 400;
            b, strong {
              font-weight: 700;
              color: #FFF;
            }
          }
        }
        .media-area{
          width: 100%;
          max-width: 28rem;
          height: 30rem;
          &.height-auto{
            height: auto;
          }
          @media (max-width: 960px){
            grid-column-start: 1;
            grid-column-end: 3;
            max-width: unset;
            height: unset;
          }
        }
      }
      &.third{
        margin:5rem 0;
        display: block;
        overflow-x: hidden;
        @media (max-width: 960px){
          margin:18rem 0 0;
        }
        @media (max-width: 840px){
          margin:20rem 0 4rem;
        }
        @media (max-width: 768px){
          margin:25rem 0 10rem;
        }
        @media (max-width: 600px){
          margin:28rem 0 15rem;
        }
        @media (max-width: 370px){
          margin:30rem 0 20rem;
        }
        #lottie{
          width: 120%;
          height: 100%;
          transform: translate3d(0px, 0px, 0px) translateX(-10%);
        }
        .slider-pile{
          overflow: hidden;
          width: 100%;
          height: 100%;
          video{
            @include imageCover(50%, 50%);
            object-fit: contain;
          }
        }

      }

      &.fourth{
        position: relative;
        justify-content: center;
        .ornament{
          position: absolute;
          top: -4rem;
          left: 50%;
          transform: translate(-100%, -100%);
          @media (max-width: 960px){
            left: 50%;
          }
        }
        .line{
          background-color: $primary;
          &.vertical{
            width: 1px;
            height: 25rem;
            @media (max-width: 1450px){
             height: 20rem;
            }
            @media (max-width: 960px){
              display: none;
            }
          }
          &.vertical-2{
            width: 1px;
            height: 4.5rem;
            margin-right: 0;
            margin-left: auto;
            @media (max-width: 960px){
              height: 8rem;
            }

          }
          &.horizontal{
            width: 30rem;
            height: 1px;
            @media (max-width: 960px){
              display: none;
            }
          }


        }
        .dot{
          transform: translate(50%, 0%);
          margin-right: 0;
          margin-left: auto;
        }
        .content-area{
          text-align: center;
          .subtitle{
            text-align: center;
            margin: 0 auto;
            width: 65%;
            position: relative;
            color:$textgray;
            font-weight: 400;
            @media (max-width: 960px){
              width: 100%;
            }
            b, strong{
              font-weight: 700;
              color:#FFF;
            }
          }
        }
        .examples-wrapper{
          margin-top: 5rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
          @media (max-width: 700px){
            grid-template-columns: 1fr;
          }
          .single-example{
            display: flex;
            flex-direction: column;
            .example-photo{
              max-height: 14rem;
              max-width: 14rem;
              aspect-ratio: 1/1;
              margin: 0 auto 1.5rem;
              @media (max-width: 600px){
                max-height: unset;
                max-width: unset;
                width: 100%;
              }
              img{
                @include imageCover(50%, 50%);
                object-fit: contain;
              }
            }
            .title{
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5rem;
              color:#FFF;
              margin-bottom: 0;
            }
            .matmenys{
              margin-top: .5rem;
              font-size: .9rem;
              color:#9B9B9B;
              text-align: center;
            }
          }
        }
      }
      //COMMON
      .content-area{
        .title{
          color:$text;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 4rem;
          margin-bottom: 1.75rem;
        }
      }
    }
  }
}