.text-video-block{
  padding: 0 5rem;
  margin:7.5rem 0 0rem;
  overflow: hidden;
  @media (max-width: 768px){
    padding: 0 2.5rem;
  }
  .container{
    max-width: 1800px;
    margin:0 auto;
    .wrapper{
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
      @media (max-width: 960px){
        grid-template-columns: 1fr;
      }
      &.second{
        grid-template-columns: 1.7fr 1fr;
        @media (max-width: 960px){
          grid-template-columns: 1fr;
          .left{
            order:2;
          }
          .right{
            order:1;
          }
        }

      }
      .left{
        background-color: #181818;
        padding: 3rem 3rem 1.7rem;
        @media (max-width: 1350px){
          padding:1.5rem 1.5rem 1rem;
        }
        &.media {
          background-color: transparent;
          padding: 0;
          overflow: hidden;
        }
        .content{
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          .title{
            color: #fff;
            font-size: 1.75rem;
            line-height: 2rem;
            font-weight: 400;
          }
          .subtitle{
            color: #9B9B9B;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.5rem;
          }
          .title2{
            margin: 2rem 0 0;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1rem;
            color: #FFF;
          }
          .points{
            margin: 0.5rem 0;
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid #494949;
            .single-point{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            .title, .value{
              font-size: 0.9rem;
              font-weight: 400;
              color: #9b9b9b;
            }
            .value{
              text-align: right;
            }

          }
          .icon-text{
            display: flex;
            gap: .75rem;
            align-items: center;
            .icon{
              height: 1rem;
              img{
                @include imageCover(50%, 50%);
              }
            }
            .green{
              color:$primary;
              font-size: .9rem;
              font-weight: 400;
            }
          }
        }
      }
      .right{
        overflow: hidden;
        &.bg{
          background-color: #181818;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 2rem 2rem 3.5rem;
          @media (max-width: 1600px){
            padding: 1.5rem 1.5rem 2.5rem;
          }
          @media (max-width: 1280px){
            padding: 1rem 1rem 2rem;
          }
          @media (max-width: 960px){
            width: 100%;
            aspect-ratio: 1/1;
          }
          .content{
            width: 70%;
            margin: 0 auto;
            .number{
              color: $primary;
              font-size: 6rem;
              line-height: 6rem;
              font-weight: 400;
              @media (max-width: 1600px){
                font-size: 4rem;
                line-height: 4rem;
              }
              @media (max-width: 1280px){
                font-size: 3rem;
                line-height: 3rem;
              }
              @media (max-width: 960px){
                font-size: 6rem;
                line-height: 6rem;
              }
              @media (max-width: 500px){
                font-size: 5rem;
                line-height: 5rem;
              }
            }
            .text{
              margin-top: .5rem;
              line-height: 2rem;
              font-size: 1.75rem;
              @media (max-width: 1760px){
                font-size: 1.5rem;
              }
              @media (max-width: 1280px){
                font-size: 1.2rem;
                line-height: 1.4rem;
              }
              @media (max-width: 960px){
                line-height: 2rem;
                font-size: 1.75rem;
              }
              @media (max-width: 600px){
                font-size: 1.5rem;
              }
            }
          }

        }
      }
      .media-area{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        aspect-ratio: 1015 / 534;
        @media (max-width: 960px){
          aspect-ratio: 330/534;

        }
        img, video{
          @include imageCover(50%, 50%);
        }
        button{
          @include centerAbsolute();
          background-color: transparent;
          cursor: pointer;
          border-radius: 100%;
          &.playing-video{
            display: none;
          }
        }
      }
    }
    .divider{
      position: relative;
      margin:4.5rem 0;
      left: 50%;
      .line{
        width: 1px;
        height: 7.5rem;
        background-color: $primary;
      }
      .dot{
        width: .5rem;
        height: 0.5rem;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: $primary;
      }
    }
  }
}